<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>#ffffffff</string>
	<string>#e2e2e2ff</string>
	<string>#c6c6c6ff</string>
	<string>#aaaaaaff</string>
	<string>#8e8e8eff</string>
	<string>#707070ff</string>
	<string>#545454ff</string>
	<string>#383838ff</string>
	<string>#1c1c1cff</string>
	<string>#000000ff</string>
	<string>#d8fff8ff</string>
	<string>#91ffecff</string>
	<string>#49ffe0ff</string>
	<string>#00ffd4ff</string>
	<string>#00d8b4ff</string>
	<string>#00b799ff</string>
	<string>#00967dff</string>
	<string>#007561ff</string>
	<string>#005446ff</string>
	<string>#00332aff</string>
	<string>#d8ffebff</string>
	<string>#a3ffd1ff</string>
	<string>#6dffb6ff</string>
	<string>#38ff9bff</string>
	<string>#00ff7fff</string>
	<string>#00d369ff</string>
	<string>#00a854ff</string>
	<string>#007c3eff</string>
	<string>#005446ff</string>
	<string>#002613ff</string>
	<string>#d8ffd8ff</string>
	<string>#a3ffa3ff</string>
	<string>#6dff6dff</string>
	<string>#38ff38ff</string>
	<string>#00ff00ff</string>
	<string>#00d600ff</string>
	<string>#00ad00ff</string>
	<string>#008400ff</string>
	<string>#005b00ff</string>
	<string>#003300ff</string>
	<string>#ebffd8ff</string>
	<string>#d1ffa3ff</string>
	<string>#b6ff6dff</string>
	<string>#9bff38ff</string>
	<string>#7fff00ff</string>
	<string>#6cd800ff</string>
	<string>#59b200ff</string>
	<string>#468c00ff</string>
	<string>#336600ff</string>
	<string>#1f3f00ff</string>
	<string>#ffffd8ff</string>
	<string>#ffff91ff</string>
	<string>#ffff49ff</string>
	<string>#ffff00ff</string>
	<string>#d8d800ff</string>
	<string>#b7b700ff</string>
	<string>#969600ff</string>
	<string>#757500ff</string>
	<string>#545400ff</string>
	<string>#333300ff</string>
	<string>#fff5d8ff</string>
	<string>#ffeaadff</string>
	<string>#ffdf82ff</string>
	<string>#ffd456ff</string>
	<string>#ffca2bff</string>
	<string>#ffbf00ff</string>
	<string>#cc9900ff</string>
	<string>#997200ff</string>
	<string>#664c00ff</string>
	<string>#332600ff</string>
	<string>#ffebd8ff</string>
	<string>#ffd6adff</string>
	<string>#ffc082ff</string>
	<string>#ffaa56ff</string>
	<string>#ff952bff</string>
	<string>#ff7f00ff</string>
	<string>#d16800ff</string>
	<string>#a05000ff</string>
	<string>#703800ff</string>
	<string>#3f1f00ff</string>
	<string>#ffe2d8ff</string>
	<string>#ffc1adff</string>
	<string>#ffa182ff</string>
	<string>#ff8056ff</string>
	<string>#ff602bff</string>
	<string>#ff3f00ff</string>
	<string>#d63500ff</string>
	<string>#a82a00ff</string>
	<string>#7a1e00ff</string>
	<string>#4c1300ff</string>
	<string>#ffd8d8ff</string>
	<string>#ffadadff</string>
	<string>#ff8282ff</string>
	<string>#ff5656ff</string>
	<string>#ff2b2bff</string>
	<string>#ff0000ff</string>
	<string>#d10000ff</string>
	<string>#a00000ff</string>
	<string>#700000ff</string>
	<string>#3f0000ff</string>
	<string>#ffd8ebff</string>
	<string>#ffadd6ff</string>
	<string>#ff82c0ff</string>
	<string>#ff56aaff</string>
	<string>#ff2b95ff</string>
	<string>#ff007fff</string>
	<string>#cc0066ff</string>
	<string>#99004cff</string>
	<string>#660033ff</string>
	<string>#330019ff</string>
	<string>#ffd8ffff</string>
	<string>#ffa3ffff</string>
	<string>#ff6dffff</string>
	<string>#ff38ffff</string>
	<string>#ff00ffff</string>
	<string>#d600d6ff</string>
	<string>#ad00adff</string>
	<string>#840084ff</string>
	<string>#5b005bff</string>
	<string>#330033ff</string>
	<string>#ebd8ffff</string>
	<string>#d6adffff</string>
	<string>#c082ffff</string>
	<string>#aa56ffff</string>
	<string>#952bffff</string>
	<string>#7f00ffff</string>
	<string>#6600ccff</string>
	<string>#4c0099ff</string>
	<string>#330066ff</string>
	<string>#190033ff</string>
	<string>#d8d8ffff</string>
	<string>#adadffff</string>
	<string>#8282ffff</string>
	<string>#5656ffff</string>
	<string>#2b2bffff</string>
	<string>#0000ffff</string>
	<string>#0000d1ff</string>
	<string>#0000a0ff</string>
	<string>#000070ff</string>
	<string>#00003fff</string>
	<string>#d8e5ffff</string>
	<string>#adc8ffff</string>
	<string>#82abffff</string>
	<string>#568effff</string>
	<string>#2b71ffff</string>
	<string>#0055ffff</string>
	<string>#0044ccff</string>
	<string>#003399ff</string>
	<string>#002266ff</string>
	<string>#001133ff</string>
	<string>#d8f2ffff</string>
	<string>#a3e0ffff</string>
	<string>#6dceffff</string>
	<string>#38bcffff</string>
	<string>#00a9ffff</string>
	<string>#008ed6ff</string>
	<string>#0073adff</string>
	<string>#005884ff</string>
	<string>#003d5bff</string>
	<string>#002133ff</string>
    <string>vinylAlbum.jpg</string>
    <string>watchGears.jpg</string>
    <string>brass.jpg</string>
    <string>copper.jpg</string>
    <string>kork.jpg</string>
    <string>light-wood.jpg</string>
    <string>wallpaper70s.jpg</string>
    <string>wallpaperFlower.jpg</string>
</array>
</plist>
